@model HairSalon.Models.Stylist

<h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(Model => model.Name)

  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(Model => model.Specialty)

  <input type = "submit" value = "Add new stylist" class = "btn btn=info" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>